* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
html {
        height:100%;
        font-family: 'Figtree', sans-serif;
        }
body {
        min-height: 100%;
        background-color: rgb(244,208,78);
        display: flex;
        justify-content: center;
        align-items: center;
        
}

img {
        height: 40%;
        width: 90%;
        /*max-height: 200px;
        max-width:360px;*/
        border-radius: 10px;
}

.pic  {
     margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.box {
        width: 400px;
        height: 520px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 10px 10px black;
       
}

 .category p{
        
        font-weight: 800;
        font-size: 14px;
        background: rgb(244,208,78);
        display: inline-block;
        padding: 6px 12px;
        margin: 20px 0px 0px 20px;
        border-radius: 5px;
        
        
        
}

.flex {
        
        margin-top: 12px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
       
       
}
/*.section {
        height: 40px;
}*/
.one {
        font-size: 14px;
        font-weight:500;
        line-height: 1.5;
}

.two {  
        margin-top:14px;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.5;
}

.three {
        margin-top:14px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(107,107,107);
        line-height:1.5;
}

.four {
        margin-top: 14px;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.5;
        display: flex;
        align-items: center;
        flex-direction: row;
        
}

.avatar{
        margin-right: 8px;
        height:32px;
        width: 32px;
}